@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: rgb(88, 95, 105);
    --container-color: rgb(48, 54, 66);
    --project-color: rgb(61, 69, 82);
    --font-color: rgb(241, 242, 244);
    --secondary-color: rgb(249, 170, 77);
    --red-button-color: rgb(255, 116, 97);
    --dark-red-button-color: rgb(219, 99, 83);
    --green-button-color: rgb(179, 209, 157);
    --dark-green-button-color: rgb(152, 190, 125);

    --project-button-font-size: 1.3rem;
}


body {
    font-family: 'open_sansregular', sans-serif;
    background-color: var(--background-color);
    height: 100%;
}

.hidden {
    display: none;
}

ul, li {
    padding: 0;
}

main {
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.project-wrapper,
.container {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--container-color);
    flex-grow: 1;
    padding: 15px;
    max-height: calc(100vh - 20px);
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.inner-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

.inner-container::-webkit-scrollbar {
    width: 8px;
}

.inner-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.inner-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--secondary-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--project-color);
    margin-right: 5px;
    padding: 20px 10px;
    color: var(--font-color);
}

.button-wrapper {
    display: flex;
    gap: 7px;
}

.edit-btn, .delete-btn {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--project-button-font-size);
    transition: all 0.3 ease;
    text-align: center;
}

.edit-btn:hover {
    filter: brightness(115%);
}

.delete-btn:hover {
    filter: brightness(125%);
}

.project-wrapper, .edit-btn, .delete-btn {
    cursor: pointer;
}

.edit-btn {
    background-color: var(--green-button-color);
}

.delete-btn {
    background-color: var(--red-button-color);
}

.project-title {
    font-weight: bold;
    font-size: 2rem;
}

fieldset {
    width: max-content;
}