@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: rgb(88, 95, 105);
    --container-color: rgb(48, 54, 66);
    --hover-color: rgb(85, 94, 109);
    --selected-color: rgb(89, 140, 185);
    --project-color: rgb(61, 69, 82);
    --font-color: rgb(241, 242, 244);
    --secondary-color: rgb(228, 156, 75);
    --red-button-color: rgb(236, 112, 96);
    --green-button-color: rgb(179, 209, 157);
    --new-button-color: rgb(127, 113, 196);

    --project-button-font-size: 1.5rem;
    --new-project-button-font-size: 1.7rem;
}

body {
    font-family: 'open_sansregular', sans-serif;
    background-color: var(--background-color);
    height: 100%;
}

.hidden {
    display: none !important;
}

ul, li {
    padding: 0;
}

main {
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.project-wrapper,
.container, .project-form {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--container-color);
    flex-grow: 1;
    padding: 15px;
    max-height: calc(100vh - 20px);
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

h1 {
    font-weight: bold;
    color: var(--font-color);
}

.inner-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

.inner-container::-webkit-scrollbar {
    width: 8px;
}

.inner-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.inner-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--secondary-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.project-wrapper, .project-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--project-color);
    margin-right: 5px;
    padding: 20px 10px;
    color: var(--font-color);
}

.hovered:not(.selected-project) {
    background-color: var(--hover-color);
}

#selected-project {
    background-color: var(--selected-color);
}

.button-wrapper {
    display: flex;
    gap: 7px;
}

button {
    border: none;
    font-weight: bold;
    text-align: center;
    transition: all 0.3 ease;
    color: var(--font-color);
}

button, .project-wrapper {
    cursor: pointer;
}

.edit-btn, .delete-btn {
    border-radius: 5px;
    font-size: var(--project-button-font-size);
    padding: 5px 8px;
}

.edit-btn:hover {
    filter: brightness(115%);
    transform: scale(0.95);
}

.delete-btn:hover, 
.project-form .cancel-btn:hover {
    filter: brightness(120%);
    transform: scale(0.95);
}

.edit-btn {
    background-color: var(--secondary-color);
}

.delete-btn,
.project-form .cancel-btn {
    background-color: var(--red-button-color);
}

.project-title,
.project-form label[for="project-title"] {
    font-weight: bold;
    font-size: 2rem;
}

.project-form {
    background-color: var(--hover-color);
}

.project-form .confirm-btn {
    background-color: var(--new-button-color);
}

.project-form .cancel-btn, 
.project-form .confirm-btn {
    border-radius: 5px;
    padding: 5px 8px;
    font-size: var(--project-button-font-size);
}

.project-form .confirm-btn:hover {
    filter: brightness(120%);
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

fieldset {
    width: max-content;
}

#new-project {
    background-color: var(--new-button-color);
    font-size: var(--new-project-button-font-size);
    border-radius: 5px;
    padding: 10px;
}

#new-project:hover {
    filter: brightness(120%);
    transform: scale(0.95);
}

.project-form input {
    border-radius: 5px;
    padding: 3px;
    border: none;
    outline: none;
}

.project-form input:focus, 
.project-form input:active {
    border: 3px solid var(--selected-color);
    border-radius: 10px;
}